html {
  height: 100%;
  width: 100%;
  background: #332c32;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  
  font-size: 100%
 
}
#comparebutton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

#comparebutton:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#comparebutton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#comparebutton:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

* {
    color: white;
    
}
#teamaannouncement, #teambannouncement{
    background: linear-gradient(#6f32a8, #5b88bd);
   text-align: center;
    
}



.footer{
    text-align: center;
}
#head {
    font-size: 5vw;
}
label {
    font-size: 4vw;
}
#namediv {
    padding-top:0px;
    background-color: #32a893;
    opacity: 0.8;
    text-align: center;
    align: center ;
    margin: auto;
    position: relative;
    padding-bottom: -15%;
    border-bottom: 2px solid red;
}
footer { background-color: black; color: white; bottom: 0; width: 100vw; font-size: 16px; }
#compare{
    background-color: #79807b;
    text-align: center;
}
input[type=number] {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#85bd5b, #5b88bd);
  font-size: 3vw;
  width: 35%;
  border: 2px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1% 2%;
  transition: all 0.3s ease-in-out;
}

input[type=number]:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}
#lefti{
    background: linear-gradient(#d6cf4f, #4f93d6);
}
